		
		body{
			height: 100% !important;
			width: 100%  !important;
			background-image: linear-gradient(45deg,#7DBBC3,#DAEDBD);
            /* background-repeat: no-repeat; */
            background-size: cover !important;
		}

		.LogIn{
			width: 400px;
            height: 100%;
			box-shadow: 0 0 3px 0 rgb(0,0,0,0.3);
			background-color: white;
			padding: 30px;
			text-align: center;
			/* margin: 8% auto 0;
            margin-top: 10%; */
            margin-top: 3%;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
			border-radius: 20px;
		}
		
		.input-box{
			margin: 31px auto;
			width: 85%;
			border-bottom: 2px solid black;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.input-box input{
			width: 90%;
			border: none;
			outline: none;
			background: transparent;
			color: black;
			font-size: 18px;
		}

		.fa{
			margin-right: 10px;
		}

		.eye{
			position: absolute;
		}

		#hide1{
			display: none;
		}

		.Login-but1,.Login-but2{
			margin: 40px auto 20px;
			width: 80%;
			display: block;
			outline: none;
			padding: 10px 0;
			border: 2px solid black;
			background: transparent;
			color: black;
			font-size: 18px;
			cursor: pointer;

		}
        .Login-but1:hover{
            /* background-image: linear-gradient(45deg,#7DBBC3,#DAEDBD); */
            background-color: rgba(98, 255, 255, 0.377);
        }
		a{
            color: rgb(45, 128, 253);
            text-decoration: none;
        }