body{
    margin: 0px;

}
    #dashboard{
        display: flex;
        flex-direction: row;
    }
    .clear{
        clear: both;
    }
    a{
        text-decoration: none;
        color: black;
    }

    div.sidebar{
        width: 25%;
        height: 100vh;
        background-image: linear-gradient(45deg,#7DBBC3,#DAEDBD);
        text-align: center;
        /* position: fixed; */
    }

    div.RightSide{
        width: 75%;
        float: left;

    }

    .heading{
        font-size: 50px;
        text-align: center;
    }

    div.user{
        font-size: 20px;
    }

    hr{
        height:2px;
        border-width:0;
        background-color:black;
    }

    ul{

    padding-inline-start: 0px !important;
        list-style-type: none;
    }

    .menu_list li{
        padding: 10px;
        /* padding: none !important; */
        font-size: 18px;
    }

    .menu_list li a{
        text-decoration: none;
        color: black;
    }
    .menu_list li a:hover{
        color: white;
        
    }

    div.topbar{
        background-color: white;
        padding: 20px;
    }

    div.topbar a{
        color: black;
        font-size: 18px;
        text-decoration: none;
    }

    a#logOut-but{
        float: right;
    }
    .block{
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 25px;
        font-style: inherit;
        width: 100%;
        padding: 0px !important;
        border-bottom:2px solid black;;
    }
    .select{
        text-align: center;
        font-size: 30px;
        text-align: center;
    }
    .content{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* align-content: center; */
    }

    form
    {
    width: 600px;
    box-shadow: 0 0 3px 0 rgb(0,0,0,1);
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    border-radius: 20px;
    }

    input{
        width: 85%;
        border-bottom: 2px solid black;
        border-top:none;
        border-right:none;
        border-left:none;
        padding-top: 10px;
        padding-bottom: 5px;
        margin: 2% auto;
        font-size: 14px;
    }

    .add_but{
        margin: 10px auto 10px;
        width: 60%;
        display: block;
        outline: none;
        padding: 10px 0;
        border: 2px solid black;
        background: transparent;
        font-size: 14px;
        cursor: pointer;
        color: black;
    }
    .add_but:hover{
        background-color: rgba(76, 245, 99, 0.445);
    }
/*CSS for dropdown*/
select{
    width: 85%;
    height: 30px;
    font-size: 14px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid;
    margin: 2% auto;
    background-color: transparent;
}
